{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cryptocurrencies/detail.css' %}">

    {% if coin %}
        <h1>Details for {{ coin.name }}</h1>
        <ul>
            <li>{{ coin.coindata.price }}</li>
            <li>{{ coin.coindata.direct_volume }}</li>
            <li>{{ coin.coindata.total_volume }}</li>
            <li>{{ coin.coindata.top_tier_volume }}</li>
            <li>{{ coin.coindata.market_cap }}</li>
            <li>{{ coin.coindata.created_date }}</li>
        </ul>

        <div id="detail-graph">
            {% if graph %}
            {{ graph|safe }}
            {% else %}
            <p>No graph was provided.</p>
            {% endif %}
        </div>

    {% else %}
        <p>No coin data available.</p>
    {% endif %}

    <p>You have visited this page {{ detail_num_visits }} time{% if detail_num_visits > 1 %}s{% endif %}.</p>
{% endblock %}