{% extends "base_generic.html" %}

{% block content %}
    <h1 class="title">Welcome to <strong>Crypto LiveChart</strong>!</h1>
    <p class="subtitle">View live <strong>crypto prices</strong> in real time!<br>A website developed by <em>V</em>!</p>
    <h1>Home</h1>
    <br>
    {% if coin_list %}
        <p>The coin list:</p>
        <ul>
        {% for coin in coin_list %}
            <li>
                <a href="{% url 'cryptocurrencies:detail' coin.id %}"><strong>{{ coin.name }}</strong></a>
            </li>
        {% endfor %}
        </ul>

        {{ btc_usd_price_kraken_head }}

    {% else %}
        <p>No cryptocurrencies are available.</p>
    {% endif %}

    <p>You have visited this page {{ index_num_visits }} time{% if index_num_visits > 1 %}s{% endif %}.</p>
{% endblock %}